*{
    margin: 0;
    padding: 0;
}
.owner{
    background-color: lightblue;
}
.vendreBtn{
    background-color: lightgreen;
    color: white;
    border: 0px;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0px 10px;
}
.retiterBtnDisabled{
    text-decoration: line-through;
    background: lightcoral!important;
}
.retirerBtn{
    background-color: red;
    color: white;
    border: 0px;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0px 10px;
}
.hidden{
    display: none;
}
header{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black;
    padding: 20px 0px;
}
main{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
main table{
    border-collapse: collapse;
    width: 80%;
}
table th,table td{
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    
}

